FTPS_ENABLE=true
FTPS_HOST=web8.greensta.de
FTPS_USER=
FTPS_PASS=
FTPS_DIR=
COMFY_URL=http://127.0.0.1:8188
HTTP_HOST=0.0.0.0
HTTP_PORT=8799
HTTP_CORS=false
CLOUDFLARED=cloudflared-windows-amd64.exe
OUT_DIR=./bridge_output
EDGE_PROTOCOL=http2
FILES_ENABLE=true
FILES_ROOT=C:\Users\Administrator\Documents\Arbeiten\0000_DEV\ComfyUI\output
FILES_INDEX=true
FILES_RANGE=true
HEALTH_INTERVAL=15
HEALTH_THRESHOLD=3
FTPS_RESTART_FLAG=restart_comfy.flag
FTPS_CHECK_INTERVAL=30
