FTPS_ENABLE=true
FTPS_HOST=web8.greensta.de
FTPS_USER=
FTPS_PASS=
FTPS_DIR=
COMFY_URL=http://127.0.0.1:8188
HTTP_HOST=0.0.0.0
HTTP_PORT=8799
HTTP_CORS=true
HEALTH_TARGET=http://127.0.0.1:8188
HEALTH_INTERVAL=15, HEALTH_THRESHOLD=3
FTPS_RESTART_FLAG=restart_comfy.flag
FTPS_CHECK_INTERVAL=30
