# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.env.files

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Cloudflared executable
cloudflared-windows-amd64.exe

# Previous Versions
cf_quicktunnel_writer00.py
cf_quicktunnel_writer01.py

# Temp folders
bridge_output_files/
bridge_output/